@model IEnumerable<ELibrary.Domain.Models.Publisher>

@{
    ViewData["Title"] = "Index";
}

<h1>Publishers</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<div class="row">
    @foreach (Publisher publisher in Model)
    {
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@publisher.Name</h5>
                    <a asp-action="Details" asp-route-id="@publisher.Id" class="btn btn-info">Details</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@publisher.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@publisher.Id" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>